<header>
  <mat-toolbar>
    <mat-toolbar class="bg-blue-400!">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="text-white! flex!"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="text-white!">Employee Managment System</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </mat-toolbar>
</header>
<mat-sidenav-container class="bg-white shadow">
  <mat-sidenav
    #drawer
    mode="side"
    [opened]="true"
    class="w-[300px]! bg-white! shadow-lg!"
  >
    <div class="flex flex-col items-center gap-4 text-blue-700 p-4!">
      <a routerLink="/">Dashboard</a>
      <a routerLink="/departments">Departments</a>
    </div>    
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="min-h-screen">
        <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer></footer>
