<mat-card class="form-card p-10!">
  <mat-card-title class="mb-4!">Employee Form</mat-card-title>

  <form
    [formGroup]="employeeForm"
    class="grid grid-cols-2 gap-6"
    (ngSubmit)="submit()"
  >
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>

    <div class="flex items-center">
      <label class="text-sm">Gender</label>
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button [value]="gender.male">Male</mat-radio-button>
        <mat-radio-button [value]="gender.female">Female</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field>
      <mat-label>Job Title</mat-label>
      <input matInput formControlName="jobTitle" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Department</mat-label>
      <mat-select formControlName="departmentId">
        @for (item of department; track item.id) {
        <mat-option [value]="item.id">
          {{ item.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Date Of Birth</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="dateOfBirth" />
      <mat-datepicker-toggle matIconSuffix [for]="picker1">
        <mat-icon matDatepickerToggleIcon>⮛</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Last Working Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        formControlName="lastWorkingDate"
      />
      <mat-datepicker-toggle matIconSuffix [for]="picker2">
        <mat-icon matDatepickerToggleIcon>⮛</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Joining Date</mat-label>
      <input matInput [matDatepicker]="picker3" formControlName="joiningDate" />
      <mat-datepicker-toggle matIconSuffix [for]="picker3">
        <mat-icon matDatepickerToggleIcon>⮛</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>

    <div class="col-span-2 mt-4 flex justify-center">
      <button
        mat-raised-button
        class="bg-green-500! text-white! font-semibold cursor-pointer!"
        
        [ngClass]="{
          'bg-gray-200!': employeeForm.invalid,
          'bg-green-500!': employeeForm.valid
        }"
      >
        Save Employee
      </button>
    </div>
  </form>
</mat-card>
